PORT=3000
NODE_ENV=development
APP_STAGE=dev

DATABASE_URL=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/

CORS_ORIGIN=http://localhost:5173,http://localhost://5174

JWT_SECRET=jwt_secret
JWT_EXPIRES_IN=15m

REFRESH_TOKEN_EXPIRES_IN=7d

BCRYPT_SALT_ROUNDS=12

# Cloudinary
CLOUDINARY_CLOUD_NAME=cloud_name
CLOUDINARY_API_KEY=cloud_key
CLOUDINARY_API_SECRET=cloud_secret